header {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

 nav {
  padding: 10px;
  background-color: grey;
  float: 10px left
  float 10 px right;
}

 figcaption {
  font-size: 19px;
  text-align: center;
}

 #featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
}

#details div {
  float: left;
}

div {
  width: 25%;
  background-color: lightblue;
  text-align: center;
}